 :root{
	--secondary-color: #bbbbbb;
	--pink-color: #f87652;
	--background-color: #5c585b;
	--bg-color-skills-section: #81818180;

	
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">



*{
font-family: 'Poppins', sans-serif;
}

body{
	background-color: var(--background-color) !important;
}
h1,h2,h3,h4,h5,p,span,td,a{
	cursor: pointer;
}



/* ---- particles.js container ---- */

canvas.particles-js-canvas-el{
	 width: 100% !important;
    height: 100% !important;
    background-color: $gray-900;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
}
//navbar

.container {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.nav_section .navbar-brand {
	font-size: 22px;


}
.nav_section .navbar-brand span {
	color: var(--pink-color)
	
}

.nav_section .navbar-nav li{
	margin: 0px 8px
}
.nav_section .navbar-nav li a{
	color: white !important;
	font-size: 15px;
}

.nav_section .navbar-nav .nav-link::before{
	content: '';
	width: 0px;
	height: 0px;
	background-color: white;
	position: absolute;
	bottom: 7px;
	transition: 0.5s;

}
.nav_section .navbar-nav .nav-link:hover::before{
	content: '';
	width: 17px;
	height: 2px;
	background-color: white;
	position: absolute;
	bottom: 7px;
}

.hero_section .row{
	display: flex;;
	align-items: center;
	height: 100vh;
}

.hero_section .row h1,h2,h3,p{
	color: white;
}

.hero_section .row h3{
	font-size: 19px;
	font-weight: 300;
	margin-bottom: 15px;
}


.hero_section .row h3::after{
	content: '';
	position: absolute;
	text-align: center;
	top:10px;
	width: 90px;
	height: 2px;
	background-color: white;
	margin-left: 6px;
}

.hero_section .row h1{
	font-size: 65px;
	font-weight: 800;

}

.hero_section .row h2{
	font-size: 20px;
	font-weight: 100;
	margin: 8px 0px;
}

.hero_section .row p{
	font-size: 13px;
	margin-top: 13px;
	line-height: 21px;
	color: var(--secondary-color);
}

.hero_section .row button{
	border-radius : 10px;
	font-size: 19px;
	color: white;
	background-color: var(--pink-color);
	border: 3px solid var(--pink-color);
	width: 113px;
	font-family: 'Poppins',sans-serif;
	margin-top: 10px;
}
.hero_section .row button:hover{
	animation: swing;
	animation-duration: 0.5s;
	background:white;
	color:black;
	border-color: white;
}

.hero_section .row img{
	background: 50% 50% no-repeat;
	display: black;
	width: 250px;
	height: 250px;
}

@media(max-width: 1200px) and (min-width: 993px){
	.hero_section .row h1{
		font-size: 58px;
	}
}
@media(max-width: 993px) and (min-width: 763px){
	.hero_section .row h1{
		font-size: 42px;
	}
	.hero_section .row h2{
		font-size: 15px;
	}
	.hero_section .row p{
		font-size: 11px;
	}
	.hero_section .row h3{
		font-size: 15px;
	}
	.hero_section .row button{
		font-size: 15px;
	}
}

@media(max-width: 763px) and (min-width: 500px){
	.hero_section{
		margin: 55px 0px;
	}

	.hero_section .row h1{
		font-size: 46px;
		text-align: center;
	}
	.hero_section .row h2{
		font-size: 15px;
		text-align: center;
	}
	.hero_section .row p{
		font-size: 11px;
		text-align: center;
	}
	.hero_section .btn_container{
		justify-content: center;
		text-align: center;
	}
	.hero_section .row h3{
		font-size: 18px;
		text-align: center;
		margin-bottom: 0px;

	}
	.hero_section .row h3::after{
		width: 0px;

	}
	.hero_section .btn_container button{
	width: 100px;
	height: 43px;
	font-size: 15px;
	text-align: center;
	}
}
.hero_section img{
	width: 60%;
	margin-top: 20px;
	}

<!-- about me -->

.about_section{
	background-color: #282A39
	padding:200px 0px;
	padding-bottom: 170px 0px;

}


.about_section #heading{
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 0.5px;
	line-height: 57px;
}
.about_section .lets_talk{
	color: white;
	font-weight: 300;
	margin-top: 9px;


}

.about_section #info_gmail{
	font-weight: 600;
	font-size: 15px;
	color: var(--pink-color);
	margin-top: 35px;
	word-spacing: 6px; 

}
.about_section .contact_info{
	margin-top: 15px;

}
.about_section .contact_info h5{
	color: white;
	font-size: 15px;
	font-weight: 400;
	word-spacing: 6px;
}

.about_section .about_me_right_section #txt{
	font-size: 15px;
	margin-top: 13px;
	line-height: 25px;
	color: var(--secondary-color)
}
.about_section .about_me_right_section hr{
	margin:0px;
	border: 0.5px solid var (--pink-color)!important;

}

.about_section .about_me_right_section table td{
	border: none;
	color: white;
	font-size: 13px;

}
.about_section .about_me_right_section button{
	border-radius: 7px;
	font-size: 15px;
	background-color: var(--pink-color);
	border:3px solid var(--pink-color);
	font-family: 'Poppins',sans-serif;
	margin-top: 10px;

}

.about_section .about_me_right_section button:hover{
	animation: swing;
	animation-duration: 0.5s;

}

@media (max-width: 993px) and (min-width: 768px){
	.about_section .about_me_right_section #txt{
		font-size: 12px;

	}
	.about_section #heading{
		font-size: 15px !important
	}
}

/* skill sectiion */
.skills_section{
	padding: 100px 0px;
}

.skills_section_left_section{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills_section #heading{
	font-weight: 600;
	font-size: 50px;
}
.skills_section hr{
	border: 0.5px solid var(--pink-color);
	width: 6rem;
	margin: 12px 0px;
}

.skills_section p{
	color: var(--pink-color);
	font-size: 13px;
}
.skills_section .social_media_icons .list-group-item{
	border: none;
	color: white;
	border-left: 2px solid var(--pink-color);
	border-radius: 0px;
	margin: 5px 0px;
	width: 208px;
	background-color: var(--bg-color-skills-section);
	font-size: 14px;


}
.skills_section .social_media_icons .list-group-itemn a{
	transition: 1s
}

.skills_section .social_media_icons .list-group-item:hover a{
	margin-left: 10px;
}

.skills_section_right_section .each_skills{
	margin:25px 0;
}
.skills_section_right_section span{
	color: white;
	font-size: 14px;

}
.skills_section_right_section .each_skills .progress{
	background-color: var(--bg-color-skills-section);
	border-radius: 100px;
	border-top:3px;
	height: 10px;
}
.skills_section_right_section .each_skills .progress-bar{
	background-color:var(--pink-color) !important;
	color: transparent
}

/*portfolio section */

.portfolio_section{
	padding: 20px 0px;

}
.portfolio_section .nav-tabs{
	border: none;
	width: 30%;
	text-align: center;
}

.portfolio_section .nav-tabs .nav-link.active{
	border:none;
	color: var(--pink-color)!important;
	border-bottom: 2px solid var(--pink-color) !important;
	background: transparent;
}

.portfolio_section .nav-tabs .nav-link.active:hover{
	border-bottom: 2px solid var(--pink-color) !important;

}

.portfolio_section .nav-tabs .nav-item.show .nav-link{
	font-weight: 400;
	font-size: 14px;
	background:transparent !important
}
.portfolio_section .nav-tabs .nav-link:hover{

	border:none;
}
.portfolio_section .tab-content .card:hover{
	animation: pulse;
	animation-duration: 0.5s;
}


.portfolio_section .tab-content .card img{
	float: left;
    width:360px;
    height:360px;
    object-fit: cover;
	border: 2px solid white  ;


}

/* Contact section */

.contact_section{
	padding-bottom: 170px;
}

.contact_section .heading{
	font-weight: 600; font-size: 50px;
}

.contact_section hr{
	border:0.5px solid var(--pink-color);
	width: 6rem;
	margin:12px 0px;

}
.contact_section .txt{
	color: var(--secondary-color);
	font-size: 13px;
}

.contact_section .form-control{
	background:white;
	border:2px var(--pink-color) ;
	border-radius: 0px;
	
}

.contact_section form button{
	background:var(--pink-color);
	border:2px solid var(--pink-color);
	color: white;
	width: 100px;
	font-size: 15px;

}

.contact_section form button:hover{
	animation: swing;
	animation-duration: 0.5s;
}

.contact_section ul li{
	color: white;
	font-size: 15px;
	margin-bottom: 12px;

}
.contact_section ul li .fa{
color: var(--pink-color);
}

@media (max-width: 991px) and (min-width: 768px){
	.contact_section .heading{
		font-size: 42px;

	}

	}

/*footer area */


.footer-area{
	background: #5c585b;
	border-top:2px solid var(--bg-color-skills-section);
	
	padding:40px 0px;
	
}
.footer-area .container{
	margin-left: 50px;
}
.footer-area .navbar-brand{
	font-size: 23px;
}

.footer-area p{
	margin-top: 13px;
	color: var(--secondary-color);
	font-size: 12px;
}

.footer-area .logo-area .fa{
	color: var(--pink-color);
	font-size: 17px !important;
	border: 2px solid (--pink-color);
	padding: 10px;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	justify-content: center;
	border-radius: 100%;
	margin-right: 5px;
}
.footer-area .logo-area .fa:hover{
	animation: swing;
	animation-duration: 0.5s;
	background-color: white;

}
.footer-area .row .column .heading{
	font-weight: 400px !important;
	font-size: 21px;
	color: white;


}
.footer-area .list-group .list-group-item{
	margin: -3px 0px;
	color: #fff;
	transition: 0.5s !important;

}

.footer-area .list-group .list-group-item:hover i{
	padding-right: 10px;
}
.footer-area .list-group .list-group-item i{
	font-size: 10px;
	color: var(--pink-color) !important;
	transition: 0.4s;
}
@media(max-width: 767px) and (min-width: 500px){
	.footer-area .links{
		margin-bottom: 30px;
	}
	.footer-area .row .column .heading {
		font-size: 17px !important;
	}
	.portfolio_section .list-group .list-group{
		margin-bottom: 30px;
	}

	.portfolio_section .list-group .list-group-item{
		font-size: 13px;

	}
}